<form method="POST" action="/new">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="message">Message:</label><br>
    <input type="text" id="message" name="message">
    <input type="submit" value="Submit">
</form>