<form method="POST" action="/new">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="messageText">Message:</label><br>
    <input type="text" id="messageText" name="messageText">
    <input type="submit" value="Submit">
</form>

<a href="/">
  <button>Return</button>
</a>